body {
	background: #ebfcfe;
	
}

#mainProfileAvatar {
	margin-left: 1em;
	margin-right: 1em;

	float: left;

}

#welcomeMessage {

	
	
}

.usersListOnlinetrue {
 	color: #1dc90a;
}

.usersListOnlinefalse {
	color: #ff0000;
}

#chatList {
	background-color: #ebebeb;
	border-style: solid;
	border-color: black;
	overflow-y: auto;
	height: 50vh;
	list-style-type: none;
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	word-break: break-all;
}

#userHistoryList {
	margin-left: 1em;
	margin-right: 1em;
	float: right;
	border-width: 1px black;
	overflow-y: auto;
	height: 50vh;

	
}

#userHistoryList ul {
	list-style: none;
	padding-left: -1em;

}

#chatDiv {
	border: 1px solid black;

}

.messageImg {
	vertical-align: top;
	display: inline;
	max-height: 100%;
	max-width: 40px;
	max-height: 40px;
}

.userlistImg {
	vertical-align: top;
	display: inline;
	max-height: 100%;
	max-width: 20px;
	max-height: 20px;
	margin-right: 0.2em;
}

#chat-input-box {
	margin: 0.5em;
	width: 98%;
}

.chatMessage {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	background-color: white;	
	display: block;
	height: auto;
	line-height: 2.5em;


}

.chatMessageSpan {
		display: inline;
		margin-left: 0.5em;
		line-height: 100%;
	
}



.profileImage {
	width: 64px;
	height: 64px;
}

/* The Modal (background) */
.modalContent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalDiv {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profileImage {
	border-style: solid;
	border-color: black;
}

.smallImage {

	width: 64px;
	height: 64px;

}

.largeImage {

	width: 	128px;
	height: 128px;
}

#gameiFrame {
	border: 0px;
	width: 850px;
	height: 650px;
	overflow: hidden;
}


/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    right: 12em;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 17%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
